.feat {
  display: flex;

  margin-bottom: 10px;
  justify-content: space-between;
  align-items: flex-start;
}

.labels {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  padding: 8px;
  text-align: left;
  width: 130px;
  height: 160px;
  display: flex;
  flex-direction: column;
   justify-content: space-between;
  align-items: flex-start;
  border-radius: 4px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
   
}

.labels:hover{
  padding-top: 18px;
  padding-bottom: -10px;
 }  

.labels>img {
   
  height: 45px; 
  align-self: flex-end;
}

.labelBox {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  height: 215px;
   
}

#fetGuid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
 
}

.giftCards {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  width: 95%;
}

.giftCard {
  box-shadow: rgba(0, 0, 0, 0.63) 0px 1px 4px;
  border-radius: 5px;

  width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: black;
   
  font-weight: 600;
}

.giftCard>img {
  width: 100%;
}

.giftCard>h3,
span,
p {
  margin-left: 15px;
}

.blueCard{
  background-color: rgba(76, 178, 226, 0.452);
}

html,
body {
    position: relative;
    height: 100%;
    margin-bottom: 555px;
    width: 100%;

}

body {

    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 95%;
    height: 455px;
}

.swiper-slide {

    font-size: 18px;
    background: #fff;
    margin: 20px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    height: 330px;
    border: 1px solid rgb(228, 226, 226);
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

}

.swiper>h1 {
    font-size: 30px;
}

.swiper-slide:hover {
    padding-top: 5px;
    padding-bottom: -5px;

}


.swiper-slide img {
    display: block;
    width: 180px;
    object-fit: cover;
}

.swiper-slide>h4,
p {
    text-align: left;
}


#btnSignIn {
    border-radius: 35px;
    background-color: transparent;
    height: 35px;
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
    width: 150px;
    border: 3px solid rgb(3, 2, 2);
    margin-top: 10px;
    margin-bottom: 10px;
}

#boxContainer3 {
    padding-bottom: 155px;
}

#boxContainer3>.swiper-slide {
    height: 750px;
    padding: 105px;


}